<!DOCTYPE HTML>
<html>
  <head>
    <title>Archives - {{site.name}}</title>
    {{> manifest}}
  </head>
  <body class="no-sidebar loading">

   {{> header}}
   
   <div class="container">
     <div class="row">
       <div class="col-sm-2 sidebar">
         <h3>Years</h3>
         <ul>
           {{#each archive}}
           <li><a href="#year-{{key}}" class="fit scrolly">{{key}}</a></li>
           {{/each}}
         </ul>
       </div>
       <div class="col-sm-10 blog-main">
         <h2 class="blog-post-title">Archives</h2>
         <p class="blog-post-meta">{{metadata.date}}</p>
         <div class="content">
           {{#each archive}}
           <div class="archive-yearly" id="year-{{key}}">
             {{#each content}}
             <div class="archive-monthly" id="month-{{key}}">
               <h3>{{monthName key}}, {{../key}}</h3>
               <ul class="archive-daily">
               {{#reverse content}}
                 {{#each content}}
                   <li><a href="{{postlink this}}">{{metadata.title}}</a></li>
                 {{/each}}
               {{/reverse}}
               </ul>
             </div>
             {{/each}}
           </div>
           {{/each}}
         </div>
         
       </div>
     </div>
   </div>
  
  <ul class="pager">
    {{#hasPrevPage}}
    <li><a href="{{prevPage}}" class="button">Newer Posts</a></li>
    {{/hasPrevPage}}
    {{#hasNextPage}}
    <li><a href="{{nextPage}}" class="button">Previous</a></li>
    {{/hasNextPage}}
  </ul>
  
  {{> footer}}

  </body>
</html>