<!DOCTYPE HTML>
<html>
  <head>
    <title>{{metadata.title}} - {{site.name}}</title>
    {{> manifest}}
  </head>
  <body class="no-sidebar loading">

   {{> header}}
   
   <div class="container">
     <div class="row">
       <div class="col-sm-12 blog-main">
         <div class="blog-post">
           <h2 class="blog-post-title">{{metadata.title}}</h2>
           <p class="blog-post-meta">{{metadata.date}}</p>
           <div class="content">
             {{content}}
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-sm-12 blog-comments">
       {{#if disqus}}
       {{> comment}}
       {{/if}}
       </div>
     </div>
     
     {{> footer}}
   </div>
  </body>
</html>