<!DOCTYPE HTML>
<html>
  <head>
    <title>Page {{pagination.current}} of {{pagination.total}} - {{site.name}}</title>
    {{> manifest}}
  </head>
  <body class="no-sidebar loading">

   {{> header}}
   
   <div class="container">
    <div class="blog-header">
      <h1 class="blog-title">Page {{pagination.current}} of {{pagination.total}}</h1>
    </div>
   </div>
   
   
   <div class="container">
     <div class="row">
       <div class="col-sm-12 blog-main">
         {{> posts}}
       </div>
     </div>
   </div>
  
  <ul class="pager">
    {{#hasPrevPage}}
    <li><a href="{{prevPage}}" class="button">Newer Posts</a></li>
    {{/hasPrevPage}}
    {{#hasNextPage}}
    <li><a href="{{nextPage}}" class="button">Previous</a></li>
    {{/hasNextPage}}
  </ul>
  
  {{> footer}}

  </body>
</html>