<!DOCTYPE HTML>
<html>
  <head>
    <title>Page {{pagination.current}} of {{pagination.total}} - {{site.name}}</title>
    {{> manifest}}
  </head>
  <body class="no-sidebar loading">
    
    
    <article id="main">
      <header class="special container">
        <span class="icon fa-book"></span>
        <h2>Page {{pagination.current}} of {{pagination.total}}</h2>
      </header>
      
      <section class="posts">
        {{> posts}}
      </section>
      
      <section class="wrapper style1 special container pagination">
        <ul class="buttons">
          {{#hasPrevPage}}
          <li><a href="{{prevPage}}" class="button">Newer Posts</a></li>
          {{/hasPrevPage}}
          
          
          {{#hasNextPage}}
          <li><a href="{{nextPage}}" class="button">Older Posts</a></li>
          {{/hasNextPage}}
        </ul>
      </section>
      
    </article>

  </body>
</html>